<a href="https://colab.research.google.com/github/LanAnh281/thuchanh1/blob/main/milk_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:

import pandas as pd
data= pd.read_csv('/content/milknew.csv')
data.head()
data.tail()
data.describe()
data.shape

(1059, 8)

In [4]:
data.duplicated().any()

True

In [12]:
data=data.drop_duplicates(keep='last')

In [15]:
data.duplicated()

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
4     6.6          37      0     0     0          0     255  medium
23    6.6          45      1     1     1          1     245    high
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[83 rows x 8 columns]

In [17]:
print("sá»‘ dÃ²ng vÃ  sá»‘ cá»™t: ",data.shape)

sá»‘ dÃ²ng vÃ  sá»‘ cá»™t:  (83, 8)

In [18]:
data.describe()

,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour
count,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000
mean,6.668675,43.698795,0.493976,0.397590,0.602410,0.433735,251.313253
std,0.986856,9.379187,0.503003,0.492375,0.492375,0.498602,4.577058
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,247.000000
50%,6.600000,41.000000,0.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [35]:
from sklearn.model_selection import train_test_split
y=data.iloc[:,-1]
x=data.iloc[:,0:-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/5,random_state=2)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

array([[ 1.89720692,  1.07518368, -1.03077641,  1.16496475, -1.32287566,
        -0.9701425 ,  0.85767508],
       [-0.01740557, -0.93792619,  0.9701425 , -0.85839508,  0.75592895,
        -0.9701425 ,  0.62849874],
       [ 0.17405568, -0.33399323, -1.03077641, -0.85839508, -1.32287566,
        -0.9701425 ,  0.85767508],
       [-0.01740557, -0.63595971, -1.03077641, -0.85839508,  0.75592895,
        -0.9701425 ,  0.85767508],
       [-0.11313619, -0.43464872,  0.9701425 , -0.85839508, -1.32287566,
        -0.9701425 , -0.28820661],
       [ 0.17405568,  0.06862875, -1.03077641,  1.16496475, -1.32287566,
        -0.9701425 , -2.57996998],
       [ 1.89720692,  1.07518368, -1.03077641,  1.16496475,  0.75592895,
         1.03077641,  0.85767508],
       [ 0.17405568, -0.43464872,  0.9701425 , -0.85839508,  0.75592895,
        -0.9701425 , -1.43408829],
       [ 0.07832506, -0.33399323,  0.9701425 , -0.85839508, -1.32287566,
        -0.9701425 , -0.97573562],
       [-0.01740557,  0.06862875, -1.03077641,  1.16496475, -1.32287566,
        -0.9701425 ,  0.85767508],
       [-0.01740557, -0.13268224, -1.03077641, -0.85839508,  0.75592895,
        -0.9701425 , -0.28820661],
       [ 0.17405568, -1.03858169, -1.03077641, -0.85839508, -1.32287566,
         1.03077641, -2.57996998],
       [-0.01740557, -0.63595971, -1.03077641, -0.85839508, -1.32287566,
        -0.9701425 ,  0.85767508],
       [-0.01740557, -0.43464872,  0.9701425 , -0.85839508,  0.75592895,
         1.03077641,  0.85767508],
       [-0.11313619, -0.63595971,  0.9701425 ,  1.16496475,  0.75592895,
         1.03077641,  0.85767508],
       [-0.11313619, -0.8372707 , -1.03077641, -0.85839508,  0.75592895,
        -0.9701425 ,  0.85767508],
       [-0.11313619, -0.63595971,  0.9701425 , -0.85839508, -1.32287566,
        -0.9701425 ,  0.85767508]])